h1 {
		background-color:#2627B6;
		color:green; 
		text-align:center;}
body {
		font-family:arial; 
		background-color:#EFC3CA; }
p {
color :purple;}

ol {background-color: magenta;
	border: solid 5px;
	border-color:blue;
	border-top-style: dotted;
	border-bottom-style: dashed;
	padding-top: 5px}

